[core]
	editor = vim

[alias]
	confedit = config --global --edit
	st = status
	ss = status -s
	co = checkout
	cob = checkout -b
	aa = add .
	ap = add -p
	cofi = commit --fixup
	cm = commit -m
	cam = commit -am
	amend = commit --amend
	romi = rebase origin/master -i
	roma = rebase origin/master -i --autosquash
	reha = reset --hard
	pou = push -u origin
	pouh = pou HEAD
	pouf = push --force-with-lease
	remaster = !git fetch && git reha origin/master
	lol = log --oneline --decorate --graph --all

[user]
	email = maximeblanc.dev@gmail.com
	name = jean-smaug
