[core]
	editor = vim
[alias]
	confedit = config --global --edit
	co = checkout
	cofi = commit --fixup
	cob = checkout -b
	cm = commit -m
	cam = commit -am
	amend = commit --amend
	romi = rebase origin/master -i
	roma = rebase origin/master -i --autosquash
	remaster = !git fetch && git reha origin/master
	st = status
	reha = reset --hard
	aa = add .
	ap = add -p
	pou = push -u origin
	pouf = push -f

[user]
	email = maximeblanc.dev@gmail.com
	name = maxime blanc
